
.header_top{
/*	background:#006564; */

	vertical-align: middle;
	text-align: center;
}

@media(max-width:800px){
.logo img{
    content:url("../images/cp_logo_mini.jpg");
	width:60px;
  }
}


@media(max-width:400px){
.logo img{
    content:url("../images/cp_logo_mini.jpg");
	width:50px;
  }
}
